<div>
  <img src="assets/images/michigan-music.svg">
  <img src="assets/images/bucket-list.svg">
</div>

<p *ngFor="let event of list, let i = index">
  {{ event.name }}<br>
  {{ event.startTime.substring(0,10) }}<br>
  <button class="favoritesButton" type="reset" width=100 style="background-image: url('./assets/images/bucketlist_off.svg')" *ngIf='!event.favorite' (click)='saveFavorite(i)'></button>
  <button class="favoritesButton" type="reset" width=100 style="background-image: url('./assets/images/bucketlist_on.svg')" *ngIf='event.favorite' (click)='removeFavorite(i)'></button>
  <a href="{{ event.url }}" class="url">View Event on Ticketmaster</a>
</p>

<div>
    <img class="verified" src="assets/images/TicketmasterVerifiedTickets_Logo_rgb.png">
  </div>