.name {
    color: white;
    width: auto;
}

.date {
    color: white;
    width: auto;
}

.url:hover {
    color: #B7C9D3;
}

body {
    width: 1100px;
    display: flex;
    font-family: 'interstate-bold', 'helvetica';
    color: white;
    background-image: linear-gradient(260deg, 
                    rgb(0, 45, 161), 
                    rgb(2, 108, 223) 55%, 
                    rgb(0, 45, 161));
}

a {
    font-family: 'interstate-black', 'helvetica';
    color: #009cde;
    font-size: 20px;
    flex-direction: column;
}

.links {
    font-family: interstate-black;
    color: white;
    font-size: 20px;
    flex-direction: column;
}

img {
    font-size: 10px;
}

.favoritesButton {
    width: 35px;
    height: 35px;
    color: none;
}

button {
    height: 30px;
}

input[type="date" i] {
    font-family: arial;
    padding: 5px;
}

input[type="text" i] {
    font-family: arial;
    padding: 5px;
}

select {
    height: 30px;
}

/* h2 {
    text-align: center;
} */

.verified {
    size: 50%;
    align-items: flex-end;
    float: right;
}

#navigation {
    width: 1100px;
    height: 50px;
    border-radius: 10px;
    /* margin-left: 20px; */
    background: white;
    align-items: center;
    display: flex;
    justify-content: space-around;
    /* justify-items: flex-start; */
}