<div>
    <img src="assets/images/michigan-music.svg">
    <h2>search ticketmaster events below by keyword, date range or michigan areas!</h2>
</div>

<p>
    Event Name<input [(ngModel)]="searchKeyword" type="text">
    Event Start Date<input [(ngModel)]="searchStartDate" type="date">
    Event End Date<input [(ngModel)]="searchEndDate" type="date">
    <select [(ngModel)]="selectedLocation" >
        <option *ngFor="let l of locations" [ngValue]="l.id">{{ l.name }}</option>
    </select>
  <button (click)="getAllEvents()">List Events</button>
</p>
<p *ngFor="let event of list, let i = index">
  <span class="name">{{ event.name }}</span><br>
  <span class="date">{{ event.startTime.substring(0,10) }}</span><br>
  <button class="favoritesButton" type="reset" width=100 style="background-image: url('./assets/images/bucketlist_off.svg')" *ngIf='!event.favorite' (click)='saveFavorite(i)'></button>
  <button class="favoritesButton" type="reset" width=100 style="background-image: url('./assets/images/bucketlist_on.svg')" *ngIf='event.favorite' (click)='saveFavorite(i)'></button>
  <a href="{{ event.url }}" class="url">View Event on Ticketmaster</a><br>
</p>

<div>
    <img class="verified" src="assets/images/TicketmasterVerifiedTickets_Logo_rgb.png">
</div>